@import url(https://fonts.google.com/specimen/Josefin+Sans);
/* beginning of CSS*/
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.desktop {
  background-size: cover;
  height: 100vh;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid magenta;
}
body {
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%)),
    linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%) opacity(0.2));
  font-family: Josefin sans, sans-serif;
  font-size: 1rem;
}
img {
  box-sizing: border-box;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.cont {
  padding: 3.75rem 6.25rem 5.625rem;
  max-width: 60%;
  border: 1px solid magenta;
}
.logo {
  border: 1px solid magenta;
  margin-bottom: 1.25rem;
}
/* .hero {
 max-width:100%;
} */
.big-text {
  font-size: 1.875rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  margin: 3.125rem 0;
}
.small-text {
  margin-bottom: 50px;
  color: hsl(0, 36%, 70%);
}
span {
  color: hsl(0, 36%, 70%);
}
.notsame {
  border: 1px solid magenta;
  margin-top: 7.5rem;
}
input {
  outline: none;
  height: 3rem;
  width: 25rem;
  border-radius: 6.25rem;
  border: 1px hsl(0, 5%, 80%);
  border-style: solid;
  box-sizing: border-box;
  padding: 1.25rem;
}
input::placeholder {
  color: hsl(0, 36%, 70%);
}
.button{
  max-width: 100%;
}